*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.87);
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 24.4px 124.4px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    position: sticky;
    top:0;
    z-index: 100;
}
.navleft{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.navimg{
    width:50px;
    height: 50px;
}
.img{
    width: 50px;
    height: 50px;
}
.navright{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0px 85px;
}
.navico{
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 0.9rem;
    
    margin-right: 2rem;
    gap: 5rem;
}
.navico:hover{
    color: #00704A;
}
.navlinks{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.navlinks a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 1000;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    transition: color 0.3s;
}
.navlinks a:hover{
    color:#00704A;
}
button, .buttonpri{
    padding: 0.4rem 0.8rem;
    border-radius: 50px;
    font-weight: 1000;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    display: inline-block;
    background: transparent;

}
.buttonoutline{
    background: white;
    border: 1.5px solid black;
    color: black;

}
.buttonoutline:hover{
    color: rgba(0, 0, 0, 0.6);

}
.buttondark{
    background: black;
    border: none;
    color: white;
}
.buttondark:hover{
    background: rgba(0, 0, 0, 0.7);
}
.buttonpri{
    background: transparent;
    border: 1px solid black;
    color: black;
    padding: 0.5rem 1rem;
}
.contentcol{
    background-color: #ffffff;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .contentcolinn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 500px;
        padding-left: 543px;
        height: 110px;
        background-color: rgb(29, 58, 48);
        
        
    }
    .contentincol{
        color: white;
        
        
        
        
    }
    .order{
        text-decoration: none;
        color: #ffffff;
        
        
        

        
    }
    .ordb{
        padding: 0.75rem 1.5rem;      
    border-radius: 50px;           
    border: 1px solid white;       
    background: transparent;       
    color: white;                  
    font-size: 1.1rem;              
                 
    cursor: pointer;             
    transition: all 0.3s;         
    white-space: nowrap;          
    line-height: 1; 
    margin-left: 15px;
    margin-top: 15px;
    }
    .ordb:hover{
        background-color: #00704A;
    }
    .text2{
        font-size: 1.05rem;
        font-weight: 700;
           
    }
    
    .hero-section {
            width: 100%;
            overflow: hidden;
        }

        .hero-content {
            background-color: #ffffff;
            padding: 30px 0px;
            display: flex;
            max-width: 77.7%;
            margin: 0 auto;
            align-items: stretch;
            min-height: 500px;
        }

        .hero-image {
            flex: 1;
            min-width: 0;
        }

        .hero-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .hero-text {
            background-color: #981047;
            flex: 1rem;
            padding: 4rem 0rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 0;
        }

        
        
            .hero-text h2 {
                color: white;
            font-size: 3rem;
            font-weight: 1000;
            margin-bottom: 1.5rem;
            line-height: 1.2;
            max-width: 500px;
        }

        .hero-text p {
            color: white;
            font-size: 1.25rem;
            margin-bottom: 2rem;
            font-weight: 700;
            line-height: 1.7;
            max-width: 500px;
            font-weight: 400;
        }

        
        .btn-primary {
            color: rgb(255, 255, 255);
            padding: 7px 16px;
            border-radius: 50px;
            border: 1px solid currentColor;
            background: transparent;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
            display: inline-block;
        }
        .hero-section2 {
            width: 100%;
            overflow: hidden;
        }

        .hero-content2 {
            background-color: #860e4c;
            color: white;
            
            display: flex;
            max-width: 77.7%;
            margin: 0 auto;
            align-items: stretch;
            min-height: 500px;
        }

        .hero-image2 {
            size: 100%;
            
            min-width: 0;
        }

        .hero-image2 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .hero-text2 {
            flex: 1rem;
            padding: 4rem 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 0;
        }
        .hero-text2 h2{
            font-size: 3.5rem;
            line-height: 1.1;
            margin-bottom: 1.5rem;
        }

    
       

        .hero-text2 p {
            font-weight: 1000px;
            font-size: 1.4rem;
            margin-bottom: 2rem;
            line-height: 1.7;
            max-width: 500px;
            font-weight: 400;
        }

        
        .btn-primary2  {
            color: rgb(255, 255, 255);
            padding: 7px 16px;
            border-radius: 50px;
            border: 1px solid currentColor;
            background: transparent;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
            display: inline-block;
        }
        .hero-section3 {
            width: 100%;
            overflow: hidden;
        }

        .hero-content3 {
            background-color: #ffffff;
            padding: 30px 0px;
            display: flex;
            max-width: 77.7%;
            margin: 0 auto;
            align-items: stretch;
            min-height: 500px;
        }

        .hero-image3 {
            flex: 1;
            size: 100%;
            min-width: 0;
        }

        .hero-image img3 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .hero-text3 {
            background-color: #00704A;
            flex: 1rem;
            padding: 4rem 0rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 0;
        }

        
        
            .hero-text3 h2 {
                color: white;
            font-size: 3rem;
            font-weight: 1000;
            margin-bottom: 1.5rem;
            line-height: 1.2;
            max-width: 500px;
        }

        .hero-text3 p {
            color: white;
            font-size: 1.25rem;
            margin-bottom: 2rem;
            font-weight: 700;
            line-height: 1.7;
            max-width: 500px;
            font-weight: 400;
        }

        
        .btn-primary3 {
            color: rgb(255, 255, 255);
            padding: 7px 16px;
            border-radius: 50px;
            border: 1px solid currentColor;
            background: transparent;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
            display: inline-block;
        }
        .hero-section4 {
            width: 100%;
            overflow: hidden;
        }

        .hero-content4 {
            background-color: #00704A;
            color: white;
            
            display: flex;
            max-width: 77.7%;
            margin: 0 auto;
            align-items: stretch;
            min-height: 500px;
        }

        .hero-image4 {
            size: 100%;
            
            min-width: 0;
        }

        .hero-image4 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .hero-text4 {
            flex: 1rem;
            padding: 4rem 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 0;
        }
        .hero-text4 h2{
            font-size: 3.5rem;
            line-height: 1.1;
            margin-bottom: 1.5rem;
        }

    
       

        .hero-text4 p {
            font-weight: 1000px;
            font-size: 1.4rem;
            margin-bottom: 2rem;
            line-height: 1.7;
            max-width: 500px;
            font-weight: 400;
        }

        
        .btn-primary4  {
            color: rgb(255, 255, 255);
            padding: 7px 16px;
            border-radius: 50px;
            border: 1px solid currentColor;
            background: transparent;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
            display: inline-block;
        }
        .hero-section5 {
            width: 100%;
            overflow: hidden;
        }

        .hero-content5 {
            background-color: #ffffff;
            padding: 30px 0px;
            display: flex;
            max-width: 77.7%;
            margin: 0 auto;
            align-items: stretch;
            min-height: 500px;
        }

        .hero-image5 {
            flex: 1;
            min-width: 0;
        }

        .hero-image5 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .hero-text5 {
            background-color: #00704A;
            flex: 1rem;
            padding: 4rem 0rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 0;
        }

        
        
            .hero-text5 h2 {
                color: white;
            font-size: 2rem;
            font-weight: 1000;
            margin-bottom: 1.5rem;
            line-height: 1.2;
            max-width: 500px;
        }

        .hero-text5 p {
            color: white;
            font-size: 1.10rem;
            margin-bottom: 2rem;
            font-weight: 700;
            line-height: 1.7;
            max-width: 500px;
            font-weight: 400;
        }

        
        .btn-primary5 {
            color: rgb(255, 255, 255);
            padding: 7px 16px;
            border-radius: 50px;
            border: 1px solid currentColor;
            background: transparent;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
            display: inline-block;
        }